body {background-color: lightskyblue;}

#Text-2 {
    color: black;
    font-size: 20px;
    margin-left: 10px;
}

#Text-1 {
    color: Black;
    font-size: 20px;
    margin-left: 10px;
}

#neuladen{
    background: darkblue;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
}

#download {
    background: darkblue;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
}

#button1 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button2 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button3 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button4 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button5 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button6 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button7 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button8 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button9 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button10 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button11 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button12 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button13 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button14 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button15 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button16 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button17 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button18 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button19 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button20 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button21 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button22 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button23 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button24 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button25 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}
#button26 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button27 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button28 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button29 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}

#button30 {
    margin: 16px;
    margin-left: 10px;
    display: inline-block;
}