body {background-color: lightskyblue;}

#button1 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button2 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button3 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button4 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button5 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button6 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button7 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button8 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button9 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button10 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button11 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button12 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button13 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button14 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button15 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button16 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button17 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button18 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button19 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button20 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button21 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button22 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button23 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button24 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button25 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button26 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button27 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button29 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button30 {
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button31 {
    margin-left: 3cm;
    margin-top: -1cm;
}

#button28 {
    color: green;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 16px;
    margin-left: 10px;
}

#button32 {
    margin-left: 10px;
}

#Text-2 {
    color: black;
    font-size: 20px;
    margin-left: 10px;
}

#Test {
    color: Black;
    font-size: 20px;
    margin-left: 10px;
}

#neuladen{
    background: darkblue;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
}

#download2 {
    background: darkblue;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
}

#klingeltontext {
    color: black;
    font-size: 20px;
    margin-left: 10px;
}